{% load static %}

<header class="header-area">
  <div class="top-header-area">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-between">
        <div class="col-12 col-sm-6">
          <div class="breaking-news">
            <div id="breakingNewsTicker" class="ticker">
              <ul>
                <li><a href="">Boas vindas!</a></li>
                <li><a href="">As melhores receitas</a></li>
                <li><a href="">Você encontra aqui!</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="top-social-info text-right">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="delicious-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <nav class="classy-navbar justify-content-between" id="deliciousNav">

          <a class="nav-brand" href="{% url 'index' %}">
            <img src="{% static 'img/core-img/logo.png' %}" />
          </a>

          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <div class="classy-menu">

            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            {% if user.is_authenticated %}
            <div class="classynav">
              <ul>
                <li><a href="{% url 'index' %}">Todas Receitas</a></li>
                <li><a href="{% url 'recipes' %}">Minhas Receitas</a></li>
                <li><a href="{% url 'recipe_create' %}">Criar Receita</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>                
              </ul>              
              <div class="search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>              
            </div>
            {% else %}
            <div class="classynav">
              <ul>
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li><a href="{% url 'register' %}">Cadastro</a></li>                
              </ul>                            
            </div>
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>