{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="preloader">
  <i class="circle-preloader"></i>
  <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/search.html' %}

{% include 'partials/header.html' %}

<div class="contact-area section-padding-0-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Crie sua receita, {{ user.username }} :)</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>Todos os campos são obrigatórios</p>
        <div class="contact-form-area">
          <form action="{% url 'recipe_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-lg-12">
                <label for="nome_receita"><b>Título da receita</b></label>
                <input type="text" id="nome_receita" class="form-control" name="name"
                  placeholder="Ex. Suco de limão" required>
              </div>
              <div class="col-12">
                <label for="file"><b>Ingredientes</b></label>
                <textarea class="form-control" name="ingredients" cols="30" rows="10"
                  placeholder="Ex. 2 Limões &#10;200ml de água" required></textarea>
              </div>
              <div class="col-12">
                <label for="file"><b>Modo de preparo</b></label>
                <textarea class="form-control" name="preparation" cols="30" rows="10"
                  placeholder="Ex. Corte o limão com cuidado e exprema no copo  &#10;Misture com a água e sirva."
                  required></textarea>
              </div>
              <div class="col-12 col-lg-3">
                <label for="file"><b>Tempo de preparo (minutos)</b></label>
                <input type="number" class="form-control" name="preparation_time" placeholder="Ex. 2" required>
              </div>
              <div class="col-12 col-lg-3">
                <label for="file"><b>Rendimento</b></label>
                <input type="text" class="form-control" name="potion" placeholder="Ex. serve 1 pessoa" required>
              </div>
              <div class="col-12 col-lg-3">
                <label for="file"><b>Categoria da receita</b></label>
                <input type="text" class="form-control" name="category" placeholder="Ex. Sucos e bebidas" required>
              </div>
              <div class="col-12 col-lg-3">
                <label for="file"><b>Foto</b></label>
                <input type="file" class="form-control" name="image">
              </div>
              <div class="col-12 text-center">
                <button class="btn delicious-btn mt-30" type="submit">Criar sua receita</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'partials/footer.html' %}
{% endblock %}